:root {
  --color-primary: olive;
  --font-primary: Georgia;
  --font-secondary: "Coiny";
}

html {
  font-family: var(--font-primary);
}

.card {
  max-width: 20em;
  border: 3px solid var(--color-primary);
}

.card-btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-family: var(--font-secondary);
}

.card-title {
  font-family: var(--font-secondary);
}
